%section.callout
  %a.banner{:href=>'/advanced_bootcamp'}
    %div.headline
      %h1
        * * Advanced Ruby on Rails Bootcamp Sept. 16-20 in Seattle * *

%section.offerings
  -# When iterating over these structures, use each_value,
  -# as each is returning key-value pairs.
  -@offerings.each_value do |offering|
    -if offering.homepage
      %div.offering{:id => offering.id}
        %a.details{:href=>"/#{offering.id}"}
          %div.panel
            %div.text
              %h1= offering.tagline
              %p=  offering.copy

%section.people
  %div.team
    %div.panel
      %h1 Who We Are
      -@people.each_value do |person|
        %figure.person
          %a{:id => person.id,:href=>'/'+person.id}
            %div.container
              %img(src="#{person.image}")
            %figcaption
              %h3.name= person.first_name
              %h3.name= person.second_name
      %div.height_set
