%h1 Our People
-@people.each do |person|
  %h2= person.last["full_name"]
  -person.last["description"].each do |paragraph|
    %p= paragraph.last


%section.offerings
-@offerings.each do |offering|
  %div.offering{:id => offering.last["id"]}
    %h1= offering.last["tagline"]

%section.people
-@people.each do |person|
  %div.person{:id => person.last["id"]}
    %h1= person.last["full_name"]
    %img(src="#{person.last["image"]}")