%section.teach
  %div.copy
    %div.panel
      %img{:rel=>"Ruby icon", :style => "width: 100px; margin: 1em 2em 0em 1em; float: left;", :src=>"/images/ruby_logo.png"}
      %p= soft_hyphenate("Why Ruby? Ruby is ver­sat­ile, easy to code in, and hon­estly a lot of fun. It’s used by thou­sands of com­pan­ies and mil­lions of people every day. It’s also easy to learn, be­cause Ruby was writ­ten for hu­mans, not ma­chines. If you’ve nev­er touched code be­fore, Ruby is a great place to start. For ex­per­i­enced pro­gram­mers, we prom­ise Ruby will rap­idly be­come your new fa­vor­ite pro­gram­ming lan­guage. Here at NIRD, we’re pas­sion­ate about Ruby and Ruby-on-Rails, and we can’t wait to share that ex­per­i­ence with you.")
  %div.copy
    %div.panel
      %h1
        NIRD Classes
      %p= "NIRD offers classes for complete beginners and experienced programmers. Expanding the community of Ruby developers to include 'non-traditional' programmers is a core part of NIRD's mission. We run regular courses at our headquarters in Seattle as well as trainings for corporate clients around the country. For organizations  interested in a customized course of study, NIRD's experienced instructors can design a class to meet your specific goals. Our instructors are some of the best in the business, with a passion for communicating the beauty and versatility of Ruby on Rails. <a href='/trainings'>Learn more.</a>" 
  %div.copy
    %div.panel
      %h1
        Open Source Ruby/Rails
      %p{:style => "text-align: center; margin-bottom: 1em;"} If you’re new to Ruby, these are some great resources to get you started:
      %div.display  
        %div.os-icon
          %a.image{:href=>"http://tryruby.org/levels/1/challenges/0"}
            %img{:rel=>"Try Ruby icon", :src=>"/images/try_ruby_logo.png"}
        %div.os-copy
          %a{:href=>"http://tryruby.org/levels/1/challenges/0"}
            Try Ruby
          %p= soft_hyphenate("This is a fun intro to Ruby. The tutorial runs in your web browser, no downloading required. If you've never used Ruby before, this is a great place to try it out.")
      %div.display
        %div.os-icon
          %a.image{:href=>"http://guides.rubyonrails.org/getting_started.html"}
            %img{:rel=>"Rails Guides icon", :src=>"/images/rails_logo.png"}
        %div.os-copy
          %a{:href=>"http://guides.rubyonrails.org/getting_started.html"}
            Rails Guides
          %p= soft_hyphenate("This guide covers getting up and running with Ruby-on-Rails. It's designed for beginners who want to get started building a Rails application from scratch. It does not assume that you have any prior experience with Rails.")
      %div.display
        %div.os-icon
          %a{:href=>"http://rubymonk.com/"}
            %img{:rel=>"RubyMonk icon", :src=>"/images/rubymonk.png"}
        %div.os-copy
          %a{:href=>"http://rubymonk.com/"}
            RubyMonk
          %p= soft_hyphenate("For hands-on learners, RubyMonk offers a great interactive course that lets you run the code in your web browser while offering plenty of small projects as “homework” examples so you can test your coding skills. Highly recommended if you dislike video tutorials.")
      %div.display
        %div.os-icon
          %a{:href=>"http://rubykoans.com/"}
            %img{:rel=>"Ruby Koans icon", :src=>"/images/ruby_koans.png"}
        %div.os-copy
          %a{:href=>"http://rubykoans.com/"}
            Ruby Koans
          %p= soft_hyphenate("The Ruby Koans are a bit more existential than RubyMonk, but the same principle applies: learn by doing. If you've always wanted to spend a few years on a mountaintop learning the secrets of the universe this might be a good place to start. We can't promise you'll reach enlightenment, but your coding skills will improve rapidly if you keep at it consistently.")
