%section.trainings
  %div.specialty
    %div.panel 
      %img{:rel=>"Laptop icon", :style => "width: 100px; margin: 0.5em 1em 0em 1em; float: left;", :src=>"/images/laptop_icon.png"}
      %h1
        Remote Trainings
      %p= soft_hyphenate("We can host remote training sessions for your team, covering a range of development topics. Popular trainings include:")
      %ul
      -@offerings.teach.detail.remote.bullets.each_value do |bullet|
        %li=bullet
      %p= soft_hyphenate("We look forward to working with you to design a custom training program to fit your organization's needs.")
      %div.button-footprint
        %a.button{:href=>"/contact"}
          Contact Us
  %div.specialty
    %div.panel
      %img{:rel=>"Eiffel Tower icon", :style => "width: 100px; position: relative; top: -5em; float: right;", :src=>"/images/eiffel_tower.png"}
      %h1
        On-Site Trainings
      %p= soft_hyphenate("We are happy to travel to your workplace to teach you, anywhere in the world. Some places our consultants have taught are:")
      %ul
      -@offerings.teach.detail.local.bullets.each_value do |bullet|
        %li=bullet
      %p= soft_hyphenate("Contact us for more details about scheduling an on-site training in your city.")
      %div.button-footprint
        %a.button{:href=>"/contact"}
          Contact Us
  %div.copy
    %div.panel
      %h1
        NIRD Classes
      %p= soft_hyphenate("The following courses are designed to get you up and running on Ruby and Rails. All courses are offered both remotely and on-site. Average class sizes typically range from 10-20 people. We can also work with you to design a custom training course that best suits the needs of your organization.")
  %div.specialty
    %div.panel
      %h1
        2 Day Ruby
      %p= soft_hyphenate("Basic Intro to Ruby course designed for both novice programmers (or those not familiar with OOP) who want to start off on the right foot and experienced programmers interested in migrating from existing languages such as Java, PHP, Python, etc.")
      %p
        Course Objectives:
      %ul
      -@offerings.teach.courses.ruby.bullets.each_value do |bullet|
        %li=bullet
      %p= soft_hyphenate("The course assumes you have basic experience in another programming language and are familiar with fundamental programming concepts, such as conditionals, loops, functions/methods, etc. Note that this is a hands-on training course where you will be expected to develop applications in Ruby.")
      %div.button-footprint
        %a.button{:href=>"/contact"}
          Learn More
  %div.specialty
    %div.panel
      %h1
        3 Day Rails
      %p= soft_hyphenate("Ruby on Rails course designed for developers with some web development experience. Participants should be familiar with the general principles of object oriented programming (OOP).")
      %p
        Course Objectives:
      %ul
      -@offerings.teach.courses.rails.bullets.each_value do |bullet|
        %li=bullet
      %div.button-footprint
        %a.button{:href=>"/contact"}
          Learn More
  %div.specialty
    %div.panel
      %h1
        2 Day Rails Administration
      %p= soft_hyphenate("The 2 Day Ruby-on-Rails Administration course covers the ins-and-outs of managing Ruby-on-Rails applications in a production environment. Students will learn the pros and cons of various server configurations and how to build them out, how to deploy new versions of Rails applications with the push of a button, monitoring, performance tuning, security-proofing, and scaling Rails applications to meet real-world demands.")
      %p= soft_hyphenate("The course is designed for web/application server administrators who need to be able to install, configure, run, secure, and tune Ruby-on-Rails application deployments. System architects and RoR developers can also benefit from this training.")
      %p
        Course Objectives:
      %ul
      -@offerings.teach.courses.admin.bullets.each_value do |bullet|
        %li=bullet
      %p= soft_hyphenate("To get the most out of this course, students should be familiar with the basic principles of web/application server administration.")
      %div.button-footprint
        %a.button{:href=>"/contact"}
          Learn More
  %div.specialty
    %div.panel
      %h1
        5 Day Bootcamp
      %p= soft_hyphenate("The 5 Day Ruby and Rails Bootcamp combines the two courses above into one week-long workshop. Starting with the basics of Ruby and Rails, you'll learn the full Rails' MVC stack, testing techniques, Ajax and even web services. We'll work through the full life-cycle of a Rails project, giving you experience with all facets of a typical app.")
      %p
        Course Objectives:
      %ul
      -@offerings.teach.courses.bootcamp.bullets.each_value do |bullet|
        %li=bullet
      %p= soft_hyphenate("This course is designed for developers with some web development experience who wish to learn Ruby on Rails.")
      %div.button-footprint
        %a.button{:href=>"/contact"}
          Learn More
  %div.copy
    %div.panel
      %h1
        Feedback
      %p= soft_hyphenate("“This instructor knows her stuff, and is so generous with sharing her hard-earned knowledge, not just about Ruby on Rails but about programming and being part of the Open Source community in general. Whether or not I end up using Rails in the future (which is dependent upon my work environment, not on how I feel about Rails; I like it very much!), I will be a better programmer in general thanks to the experience I had in this class.” Paige - Reed College")
      %p= soft_hyphenate("“Cheri did an awesome job! She was patient, clear and funny. Great class.” Emily, Seattle")